.grow {
  flex-grow: 1;
}

.app__navbar__links {
  flex : 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Oswald', sans-serif;
  font-size: 30px;

  list-style: none;
}

.app__navbar__links li {
    margin: 0 1rem;
    cursor: pointer;
}


